<div class="container room-page">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="text-center user-room-title pt-5">
        <h2>
          <i class="far fa-comments"></i>
            <% @entries.each do |e| %>
              <% unless e.user.id == current_user.id %>
                <%= e.user.name %>さんとのチャットルーム
                <%= link_to "＜戻る＞", user_path(e.user.id), class: "back-link" %>
              <% end %>
            <% end %>
          <i class="far fa-comments"></i>
        </h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 message">
      <% if @messages.present? %>
        <div id="message_<%= @room.id %>">
          <%= render "user/messages/message", messages: @messages %>
        </div>
      <% else %>
        <h3 class="text-center pt-3 pb-5">※まだメッセージはありません</h3>
      <% end %>
    </div>
  </div>

  <div class="row pt-3 pb-5">
    <div class="col-sm-6 ml-auto">
      <%= form_with model: @message do |f| %>
      <div class="form-group">
        <%= f.text_field :content, placeholder: "メッセージを入力してください", class: "form-control" %>
        <%= f.hidden_field :room_id, value: @room.id %>
      </div>
      <div class="form-group text-right">
        <%= f.submit "送信する", class: "btn message-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>