<% if @range == "User" %>
  <% if user_signed_in? %>
    <div class="container user-search-page">
      <div class="row justify-content-center">
        <div class="col-sm-12 mb-5">
          <h2 class="text-center mt-4 mb-5 user-search-title">
            ”<%= @word %>”を<br><i class="fas fa-users"></i> 検索した結果はこちら <i class="fas fa-users"></i>
          </h2>
          <% if @users.present? %>
            <%= render "user/users/follow_index", users: @users %>
          <% else %>
            <h3 class="text-center no-search-title pt-3 pb-5">※該当するユーザーは見つかりませんでした</h3>
          <% end %>
        </div>
      </div>
      <div class="pt-3 pb-3">
        <p><%= paginate @users %></p>
      </div>
    </div>
  <% elsif admin_signed_in? %>
    <div class="container admin-page">
      <div class="row justify-content-center">
        <div class="col-sm-9 mb-5">
          <h2 class="admin-title text-center mt-4 mb-5">
            ”<%= @word %>”を<br><i class="fas fa-users"></i> 検索した結果はこちら <i class="fas fa-users"></i>
          </h2>
          <% if @users.present? %>
            <%= render "admin/users/admin_user_index", users: @users %>
          <% else %>
            <h3 class="text-center no-search-title pt-3 pb-5">※該当するユーザーは見つかりませんでした</h3>
          <% end %>
        </div>
      </div>
      <div class="pt-3 pb-3">
        <p><%= paginate @users %></p>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="container post-search-page pt-1 pb-5">
      <h2 class="text-center mt-4 mb-3 post-search-title">
        ”<%= @word %>”を<br><i class="fas fa-cat"></i> 検索した結果はこちら <i class="fas fa-cat"></i>
      </h2>
    <div class="row justify-content-center">
      <% if @posts.present? %>
        <%= render "user/posts/post_index", posts: @posts %>
      <% else %>
        <h3 class="not-search-title no-search-title pt-4 pb-5">※該当する投稿記事は見つかりませんでした</h3>
      <% end %>
    </div>
    <div class="pt-3 pb-1">
      <p><%= paginate @posts %></p>
    </div>
  </div>
<% end %>