<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-7">

      <h4 class="mt-3 new-title pb-3 mb-4">ログイン</h4>


      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="field mb-3">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",:placeholder => "example@gmail.com", class: "col-sm-12 new-field pl-2" %>
        </div>

        <div class="field mb-4">
          <%= f.label :password, "パスワード" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "col-sm-12 new-field" %>
        </div>

        <div class="actions mb-4 text-center">
          <%= f.submit "ログイン", class: "new-btn" %>
        </div>
      <% end %>

      <p>
        会員登録がお済みでない方は、
        <%= link_to "こちら", new_user_registration_path , class: "new-link"%>
        から新規登録してください。
      </p>
      <p>
        また登録しなくとも、
        <%= link_to "こちら", user_guest_sign_in_path, method: :post, class: "new-link"%>
        からゲスト（閲覧用）としてログインできます。
      </p>

    </div>
  </div>
</div>
