<div class="container">
  <div class="row new-content justify-content-center">
    <div class="col-sm-7 new-forms">
      <h4 class="mt-3 new-title pb-3 mb-4">新規会員登録</h4>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "user/shared/error_messages", resource: resource %>
        <div class="field mb-3">
          <%= f.label :name, "ニックネーム" %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "col-sm-12 new-field" %>
        </div>
        <div class="field mb-3">
          <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, autocomplete: "email", :placeholder => "example@gmail.com", class: "col-sm-12 new-field pl-2" %>
        </div>
        <div class="field mb-3">
          <%= f.label :password, "パスワード（6文字以上）" %>
          <%= f.password_field :password, autocomplete: "new-password", class: "col-sm-12 new-field" %>
        </div>
        <div class="field mb-4">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-sm-12 new-field" %>
        </div>
        <div class="actions mb-4 text-center">
          <%= f.submit "新規登録", class: "new-btn" %>
        </div>
      <% end %>
      <div class="new-content-text">
        <p>
          既に登録がお済みの方は、
          <%= link_to "こちら", new_user_session_path , class: "new-link"%>
          からログインしてください。
        </p>
        <p>
          また登録しなくとも、
          <%= link_to "こちら", user_guest_sign_in_path, method: :post, class: "new-link"%>
          からゲスト（閲覧用）としてログインできます。
        </p>
      </div>
    </div>
  </div>
</div>
