<p>コメント：<%= post.comments.count %> 件</p>
<% post.comments.each do |comment| %>
  <div class="card comment-card">
    <div class="card-body">
      <h6 class="card-title">
        <%= link_to comment.user.name, user_path(comment.user.id), class: "comment-link" %>さんのコメント
          <div class="card-subtitle float-right">
            <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
          </div>
      </h6>
      <p class="card-text">
        <%= simple_format(comment.comment) %>
      </p>
      <% if comment.user == current_user %>
        <div class="text-right">
          <%= link_to post_comment_path(comment.post, comment), method: :delete, class: "btn comment-delete-btn", remote: true do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>