<div class="container top-img">
    <div id="theTarget">
      <div class="image1 text-center pt-5">
        <%= render "user/homes/top" %>
      </div>
      <div class="image2 text-center pt-5">
        <%= render "user/homes/top" %>
      </div>
      <div class="image3 text-center pt-5">
        <%= render "user/homes/top" %>
      </div>
      <div class="image4 text-center pt-5">
        <%= render "user/homes/top" %>
      </div>
      <div class="image5 text-center pt-5">
        <%= render "user/homes/top" %>
      </div>
      <div class="image6 text-center pt-5">
        <%= render "user/homes/top" %>
      </div>
      <div class="image7 text-center pt-5">
        <%= render "user/homes/top" %>
      </div>
    </div>
</div>