<div class="container post-page">
  <%= render "user/posts/error", user: @post %>
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 mt-5">
      <h3 class="post-edit-title text-center"><i class="fas fa-edit"></i> 投稿内容の編集 <i class="fas fa-edit"></i></h3>
      <%= form_with model: @post, local:true, class: "post-edit-form" do |f| %>
      <div class="form-group mt-5">
        <i class="fas fa-paw"></i> ペットの写真 <i class="fas fa-paw"></i>
        <%= f.label :post_image, "写真を選択", class: "image-input-btn" %>
        <%= f.attachment_field :post_image, class: "d-none"%>
      </div>
      <div class="form-group mt-4">
        <i class="fas fa-paw"></i> ペットの種類 <i class="fas fa-paw"></i>
        <%= f.text_field :pet, class: "form-control", :placeholder => "※ 入力は必須になります" %>
      </div>
      <div class="form-group mt-4">
        <i class="fas fa-paw"></i> 投稿内容 <i class="fas fa-paw"></i>
        <%= f.text_area :body, class: "form-control", :placeholder => "※ 入力は必須になります" %>
      </div>
      <div class="form-group mt-5">
        <%= button_tag " 保存する", type: "submit", class: "btn post-show-btn fas fa-save" %>
        <%= link_to " 戻る", post_path(@post), class: "btn post-show-btn ml-3 fas fa-undo-alt" %>
      </div>
      <% end %>
    </div>
  </div>
</div>