<div class="container">
<h3>投稿記事の詳細</h3>
  <div class="row">
    <div class="col-sm-6">
      <div>
        <p>投稿写真</p>
        <%= attachment_image_tag @post, :post_image, class: "post-show-image"%>
      </div>
    </div>
    <div class="col-sm-6">
      <div>
        <%= @post.pet %>
        <%= @post.body %>
        <%= attachment_image_tag @post.user, :profile_image_id, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", class: "profile_image" %>
        <% if @post.user == current_user %>
        投稿者 自分
        <% else %>
        投稿者 <%= @post.user.name %>さん
        <% end %>
        <%= link_to "編集", edit_post_path(@post.id), class: "btn btn-primary" %>
        <%= link_to "削除", post_path(@post.id),method: :delete, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>


<!--<div class="col-sm-6">-->
<!--      <h3>投稿記事の詳細</h3>-->
<!--        <div class="card mt-4">-->
<!--          <=%= attachment_image_tag @post, :post_image %>-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title"><=%= @post.pet %></h5>-->
<!--            <p class="card-text"><=%= @post.body %></p>-->
<!--            <=%= attachment_image_tag @post.user, :profile_image_id, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", class: "profile_image" %>-->
<!--            <=% if @post.user == current_user %>-->
<!--              投稿者 自分-->
<!--            <=% else %>-->
<!--              投稿者 <=%= @post.user.name %>さん-->
<!--            <=% end %>-->
<!--            <=%= link_to "編集", edit_post_path(@post.id), class: "btn btn-primary" %>-->
<!--            <=%= link_to "削除", post_path(@post.id),method: :delete, class: "btn btn-primary" %>-->
<!--          </div>-->
<!--        </div>-->
<!--    </div>-->