<div class="container post-page">
  <p class="text-center pt-1"><%= notice %></p>
  <div class="text-center post-show-title-wrap">
    <h3 class="post-show-title"><i class="fas fa-paw"></i> 投稿内容の詳細 <i class="fas fa-paw"></i></h3>
  </div>
  <div class="row post-show-top">
    <div class="col-sm-6">
      <div>
        <%= attachment_image_tag @post, :post_image, class: "post-show-image" %>
      </div>
    </div>
    <div class="col-sm-6 post-show-text">
      <div class="row  post-show-profile justify-content-center text-center mt-2">
        <div class="col-12">
          <%= link_to user_path(@post.user.id) do %>
            <%= attachment_image_tag @post.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", class: "profile-image" %>
          <% end %>
        </div>
      </div>
      <%= link_to user_path(@post.user.id), class: "profile-link-show" do %>
        <div class="row justify-content-center text-center mt-3">
          <div class="col-12">
            【 投稿者 】
          </div>
        </div>
        <% if @post.user == current_user %>
          <div class="row justify-content-center text-center">
            <div class="col-12">
              あなたが<%= @post.created_at.to_s(:datetime_jp) %>に投稿
            </div>
          </div>
        <% else %>
          <div class="row justify-content-center text-center">
            <div class="col-12">
              <%= @post.user.name %>さんが<%= @post.created_at.to_s(:datetime_jp) %>に投稿
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="row justify-content-center text-center mt-3">
        <div class="col-12">
          【 ペットの種類 】
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-12">
          <%= @post.pet %>
        </div>
      </div>
      <div class="row justify-content-center text-center mt-3">
        <div class="col-12">
          【 投稿内容 】
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-12">
          <%= @post.body %>
        </div>
      </div>
      <div class="row justify-content-center text-center mt-3">
        <div class="col-12">
          <div id="favorite_count_<%= @post.id %>">
            <%= render "user/favorites/favorite_count", post: @post %>
          </div>
        </div>
      </div>
      <div class="row justify-content-center text-center mt-4">
        <% if @post.user.id == current_user.id %>
          <%= link_to edit_post_path(@post.id), class: "btn post-show-btn" do %>
            編集 <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to post_path(@post.id),method: :delete, class: "btn post-show-btn ml-3", data: { confirm: '本当に削除しますか？' } do %>
            削除 <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
        <div id="favorites_btn_<%= @post.id %>">
          <%= render "user/favorites/favorite_btn", post: @post %>
        </div>
      </div>
      <div class="row justify-content-center text-center mt-3 d-inline">
        <%= social_share_button_tag(@post.body) %>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-sm-10">
      <%= form_with(model:[@post, @comment]) do |f| %>
        <div class="form-group">
          <%= f.text_area :comment, rows:'3',placeholder: "コメントを入力", class: "form-control comment-form" %>
        </div>
        <div class="form-group text-right">
          <%= button_tag " コメント送信", type: "submit", class: "btn post-show-btn far fa-paper-plane" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-10 mb-5">
      <div id="post_comment_<%= @post.id %>">
        <%= render "user/comments/post_comment", post: @post, comments: @comments%>
      </div>
    </div>
  </div>
</div>
