<div class="container admin-page">
  <% if @user.errors.any? %>
    <div class="text-center pt-3">
      <h4><%= @user.errors.count %>つの欄が未入力です</h4>
      <% @user.errors.full_messages.each do |message| %>
        <ul>
          <li>
            <%= message %>
          </li>
        </ul>
      <% end %>
    </div>
  <% end %>
  <div class="row justify-content-center pt-4">
    <div class="col-sm-6">
      <h2 class="admin-title text-center"><i class="fas fa-user"></i>  <%= @user.name %>さんの会員情報の編集 <i class="fas fa-user"></i> </h2>
      <%= form_with model: @user, url: admin_user_path(@user), method: :patch, local:true do |f| %>
      <div class="form-group mt-5">
        <i class="fas fa-paw"></i> <%= f.label :profile_image, "アイコン" %> <i class="fas fa-paw"></i>
        <%= f.attachment_field :profile_image, class: "d-block"%>
      </div>
      <div class="form-group mt-4">
        <i class="fas fa-paw"></i> <%= f.label :name, "ニックネーム" %> <i class="fas fa-paw"></i>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group mt-4">
        <i class="fas fa-paw"></i> <%= f.label :email, "メールアドレス" %> <i class="fas fa-paw"></i>
        <%= f.text_field :email, class: "form-control" %>
      </div>
      <div class="form-group mt-4">
        <i class="fas fa-paw"></i> <%= f.label :pet, "飼っているペット" %> <i class="fas fa-paw"></i>
        <%= f.text_field :pet, class: "form-control" %>
      </div>
      <div class="form-group mt-4">
        <i class="fas fa-paw"></i> <%= f.label :introduction, "自己紹介" %> <i class="fas fa-paw"></i>
        <%= f.text_area :introduction, class: "form-control" %>
      </div>
      <div class="form-group mt-4">
        <i class="fas fa-paw"></i> <%= f.label :is_deleted, "退会ステータス" %> <i class="fas fa-paw"></i>
        <div>
          <%= f.radio_button :is_deleted, :false %>
          <%= f.label :is_deleted, "有効", {value: :false, style: "display: inline-block;"} %>
          <%= f.radio_button :is_deleted, :true %>
          <%= f.label :is_deleted, "退会", {value: :true, style: "display: inline-block;"} %>
        </div>
      </div>
      <div class="form-group mt-4 mb-5">
        <%= button_tag type: "submit", class: "btn user-show-btn" do %>
        保存する <i class="fas fa-save"></i>
        <% end %>
        <%= link_to admin_user_path(@user.id), class: "btn user-show-btn ml-3" do %>
        戻る <i class="fas fa-undo-alt"></i>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>