<div class="container admin-page">
  <p class="text-center pt-2"><%= notice %></p>
  <div class="row justify-content-center">
    <div class="col-sm-10">

      <h2 class="admin-title text-center pt-4 mb-5" ><i class="fas fa-user"></i>
        <%= @user.name %>さんの会員情報詳細
      <i class="fas fa-user"></i></h2>

      <table class="table table-hover">
        <tbody>
          <tr>
            <th class="admin-th">会員ID</th>
            <td class="admin-th"><%= @user.id %></td>
          </tr>
          <tr>
            <th class="admin-th">ニックネーム</th>
            <td class="admin-th"><%= @user.name %>さん</td>
          </tr>
          <tr>
            <th class="admin-th">メールアドレス</th>
            <td class="admin-th"><%= @user.email %></td>
          </tr>
          <tr>
            <th class="admin-th">会員ステータス</th>
            <td class="admin-th">
              <% if @user.is_deleted == false %>
                有効
              <% else %>
                退会
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <%= link_to edit_admin_user_path(@user.id), class: "btn post-index-btn" do %>
        編集 <i class="fas fa-user-cog"></i>
      <% end %>

      <h2 class="text-center mt-5 admin-title"><i class="fas fa-paw"></i>
        <%= @user.name %>さんが投稿した記事一覧
      <i class="fas fa-paw"></i></h2>
        <% if @user.posts.present? %>
          <div class="row">
            <%= render "admin/users/post-index", posts: @posts %>
          </div>
          <div class="pt-5 pb-3 pl-5">
            <p><%= paginate @posts %></p>
          </div>
        <% else %>
          <h3 class="text-center pt-3 pb-5">※まだ投稿していません</h3>
        <% end %>
    </div>
  </div>
</div>