<nav class="navbar navbar-expand-lg navbar-light">

  <%= link_to image_tag("logo.png", size: "100x100"), root_path, class: "mt-2 ml-5 navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
    <% if admin_signed_in? %>
      <li class="nav-item active mr-4">
        <%= link_to admin_users_path, class: "nav-link" do %>
        会員一覧 <i class="fas fa-users"></i>
        <% end %>
      </li>
      <li class="nav-item active mr-4">
        <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link" do %>
        ログアウト <i class="fas fa-sign-out-alt"></i>
        <% end %>
      </li>
    <% elsif user_signed_in? %>
      <li class="nav-item active mr-4">
        <%= link_to user_path(current_user.id), class: "nav-link" do %>
        マイページ <i class="fas fa-user"></i>
        <% end %>
      </li>
      <li class="nav-item active mr-4">
        <%= link_to new_post_path, class: "nav-link" do %>
        新規投稿 <i class="fas fa-paw"></i>
        <% end %>
      </li>
      <li class="nav-item active mr-4">
        <%= link_to posts_path, class: "nav-link" do %>
        投稿一覧 <i class="fas fa-dog"></i>
        <% end %>
      </li>
      <li class="nav-item active mr-4">
        <%= link_to  notifications_path, class: "nav-link" do %>
        通知 <i class="fas fa-bell"></i>
        <% end %>
      </li>
      <li class="nav-item active mr-4">
        <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
        ログアウト <i class="fas fa-sign-out-alt"></i>
        <% end %>
      </li>
    <% else %>
      <li class="nav-item active mr-4">
        <%= link_to about_path, class: "nav-link" do %>
        About ANI-CLE <i class="fas fa-building"></i>
        <% end %>
      </li>
      <li class="nav-item active mr-4">
        <%= link_to posts_path, class: "nav-link" do %>
        投稿一覧 <i class="fas fa-dog"></i>
        <% end %>
      </li>
    <% end %>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn my-2 my-sm-0 header-search-btn" type="submit">
          <i class="fas fa-search"></i>
        </button>
    </form>

  </div>
</nav>