<!DOCTYPE html>
<html>
  <head>
    <title>ANI-CLE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="min-vh-100">
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand ml-4" href="/">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
              <li class="nav-item active mr-3">
                <%= link_to "会員一覧", admin_users_path, class: "nav-link", style: "color: #EE827d;" %>
              </li>
              <li class="nav-item active mr-3">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link", style: "color: #EE827d;" %>
              </li>
              <% elsif user_signed_in? %>
              <li class="nav-item active mr-3">
                <%= link_to "マイページ", user_path(current_user.id), class: "nav-link", style: "color: #EE827d;" %>
              </li>
              <li class="nav-item active mr-3">
                <%= link_to "新規投稿", new_post_path, class: "nav-link", style: "color: #EE827d;" %>
              </li>
              <li class="nav-item active mr-3">
                <%= link_to "投稿一覧", posts_path, class: "nav-link", style: "color: #EE827d;" %>
              </li>
              <li class="nav-item active mr-3">
                <%= link_to "通知", notifications_path, class: "nav-link", style: "color: #EE827d;" %>
              </li>
              <li class="nav-item active mr-3">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link", style: "color: #EE827d;" %>
              </li>
              <% else %>
              <li class="nav-item active mr-3">
                <%= link_to "About ANI-CLE", about_path, class: "nav-link", style: "color: #EE827d;" %>
              </li>
              <li class="nav-item active mr-3">
                <%= link_to "投稿一覧", posts_path, class: "nav-link", style: "color: #EE827d;" %>
              </li>
              <% end %>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn my-2 my-sm-0 header-search-btn" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </form>
          </div>
      </nav>

    </header>
    <main>
    <%= yield %>
    </main>
    <footer>
      <div class="container">
        <div class="row text-center">
          <div class="col-sm-12 text-center">
            <div>
              <p>© 2021 ANI-CLE All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
